<div id="page_deco">

        <div id="avec_nav_sans_encadres" class="contenu">
        	<div>

                <div class="ligne_1">

                    <div class="colonne_1">
                        <div class="colonne_deco">
                                   <div class="style_1">
                                    <h2><span>Informations :   </span></h2>
                                </div><!-- .style_1 -->
                                <div class="style_4">
                                    <p>

                                    	<ul>
                                    	<li> Nom d'utilisateur : </li>
                                    	<li> Adresse email : {{ dump(content) }}</li>
                                    	<li> <a href="/logout"> Déconnexion</a> </li>
                                    	</ul>
                                    </p>

                                </div>
                                                                                        
                                   
                                                        
                        </div><!-- colonne_deco -->
                    </div><!-- .colonne_1 -->


                </div><!-- .ligne_1 -->


            </div><!-- / -->


            
        </div>


        <div id="navigation">

            <div id="rubrique_niveau_2">
                <span>Profil</span>

            </div>

                                            
        </div>
    </div>