{% if fields.title.content is not null %}
    <li>
        	<p>{{ fields.field_image_vous_etes_.content }}</p>
            <p>{{ fields.title.content }}
            <span>{{ fields.field_sous_titre.content }}</span></p>

    </li>
{% endif %}