<div id="jssor_1" class="jssorSlideDiv">
    <!-- Loading Screen -->
    <div data-u="loading" class="loadingJssor">
        <div class="filterJssor">
            &nbsp;</div>
        <div class="loadingImgJssor">
            &nbsp;</div>
    </div>

    <div data-u="slides" class="divSlidesJssor">

        {% for row in rows %}

            {{ row.content }}

        {% endfor %}


    </div>
    <!-- Arrow Navigator -->
    <span data-u="arrowleft" class="jssora07l"  data-autocenter="2">&nbsp;</span>
    <span data-u="arrowright" class="jssora07r"  data-autocenter="2">&nbsp;</span>
</div>
