{% if fields.title.content is not null %}
    <li>
        <div class="vignette_deco">
            <span></span>{{ fields.field_image_vous_etes_.content }}
        </div> {{ fields.title.content }}

    </li>
{% endif %}