<div class="yoast_newsletter_subscription messages messages--info">
    <div class="label">Yoast SEO Newsletter</div>
    <p>
        {% trans %}Our newsletter contains loads of tips and tricks about how to optimize your SEO{% endtrans %}.
        <a href="{{ newsletter_link }}" target="_blank" class="button">{% trans %}Subscribe here{% endtrans %}</a>
    </p>
</div>
