.js-form-item-field-yoast-seo-0-yoast-seo-focus-keyword  {
    width: 554px;
}

.yoast-seo-score-widget {
    margin: 20px 0px;
    padding: 0px 0px 0px 20px;
}
.yoast-seo-score-widget ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.yoast-seo-score-widget ul li {
    display: block;
}
.yoast-seo-score-widget ul li label {
    font-weight: normal;
    display: inline-block;
    width: 115px;
}
.yoast-seo-score-widget ul li a.help {
    position: relative;
    margin: 0px 20px 0px 0px;
}
.yoast-seo-score-widget ul li a.help:after {
    position: absolute;
    top: 0px;
    right: -20px;
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background: transparent url("../misc/icons/help.png") repeat scroll 0% 0%;
}
.views-field-field-yoast-seo .overallScore {
    margin: 0;
    padding: 0;
}

.overallScore {
    display: inline-block;
}
.overallScore .score {
    display: inline-block;
    padding: 0.1em 0 0 0;
}
.overallScore .score_circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 2px 5px 0 3px;
    vertical-align: top;
    border-radius: 50%;
    background: #888;
}
.overallScore.good .score_circle {
    background: #7ad03a;
}
.overallScore.ok .score_circle {
    background: #ffba00;
}
.overallScore.poor .score_circle {
    background: #ee7c1b;
}
.overallScore.bad .score_circle {
    background: #dd3d36;
}
.overallScore .score_title {
    font-weight: normal;
}
.overallScore .score_title strong {
    font-weight: bold;
}