
/* ======================================================= */
/* Gestion des couleurs dominante & secondaire =========== */
/* ======================================================= */

::-moz-selection {
  background-color: #666666;
}


::-webkit-selection {
  background-color: #666666;
}


::selection {
  background-color: #666666;
}


h1,
.h1 {
  background-color: #148dc8;
}


a:link,
a:visited,
.plansite3 > li > a:before,
.plansite3 > li > a:hover,
.annuaireksup .separateur_deco .annuaireksup__structures,
.annuaireanciensetudiants .separateur_deco .annuaireksup__structures,
.annuaireetudiants .separateur_deco .annuaireksup__structures,
.associationetudiant .separateur_deco .annuaireksup__structures {
  color: #148dc8;
}


a:focus,
a:focus:hover,
#menu_modification a:hover,
#menu_modification a:focus,
#menu_modification button:hover,
#menu_modification button:focus {
  background-color: #148dc8;
  color: #fff;
}


a:hover,
.plansite3 > li > a,
#meta_menu_tabs .meta_menu_contenu ul a:hover,
.accueil.portail.avec_carrousel #recherche_simple_portail {
  color: #666666;
}


select:focus, select:active,
textarea:focus,
textarea:active,
input[type="submit"]:focus,
input[type="submit"]:active,
input[type="reset"]:focus,
input[type="reset"]:active,
input[type="button"]:focus,
input[type="button"]:active,
input[type="password"]:focus,
input[type="password"]:active,
input[type="text"]:focus,
input[type="text"]:active,
input[type="email"]:focus,
input[type="email"]:active,
input[readonly]:focus,
input[readonly]:active,
button:focus,
button:active,
.button:focus,
.button:active {
  border-color: #148dc8;
}


input[type="submit"],
input[type="reset"],
input[type="button"],
.submit,
.reset,
.button,
button {
  border-color: #148dc8;
  color: #148dc8;
}

.avec_puce li:before,
#telecharger li:before,
#diplomes_obtenus li:before {
	border-left-color: #148dc8;
}


input[type="submit"],
.submit,
#menu_pied_page {
  background-color: #148dc8;
  color: #fff;
}


#menu_langues {
  color: #148dc8;
}


#bandeau {
  background-color: #148dc8;
}

/* ========== */

@media screen and (min-width: 35em) {
  .portail #reseaux_sociaux img {
    background-color: #148dc8;
  }
}

/* ========== */

#reseaux_sociaux a {
  background-color: #148dc8;
}


#portails_ent,
#meta_menu_button > li,
#meta_menu_button > li a,
#meta_menu_tabs a {
  color: #148dc8;
}

/* ========== */


@media screen and (min-width: 35em) {

  #menu_principal > li {
    border-left-color: #148dc8;
  }

  #menu_principal ul {
    background-color: #666666;
  }

  #menu_principal a,
  #menu_principal li:hover a,
  #menu_principal a:hover,
  #menu_principal a:focus,
  #menu_principal em a {
    color: #148dc8;
  }
  
  #menu_principal > li > a:hover,
  #menu_principal > li > em > a,
  #menu_principal > li:hover > em > a,
  #menu_principal li:hover > a {
  	color: #666666;
  }

  #menu_principal li:hover li a:hover,
  #menu_principal ul a:hover,
  #menu_principal ul a:focus,
  #menu_principal ul em a {
    background-color: #148dc8;
    color: #fff;
  }

}

#rubrique_niveau_2 {
  background-color: #148dc8;
}

#menu_secondaire > li {
  border-bottom-color: #148dc8;
}

#menu_secondaire strong a {
  color: #666666;
}

.contenu ul:not([class]):not([id]) li:before  {
  background-color: #148dc8;
}

[class*="icon-"] {
  color: #148dc8;
}

.separateur_deco {
  border-bottom-color: #148dc8;
}


#precisions_resultats {
  color: #666666;
}

ul.objets .date, ul#liste_resultats .date {
  color: #148dc8;
}


ul.onglets a:hover, .formation ul#onglets a:hover,
ul.onglets #actif a,
.formation ul#onglets #actif a,
.liste-agenda__date {
  color: #148dc8;
}


.style_1 h2 {
  color: #666666;
}


.style_2 {
  border-bottom-color: #148dc8;
}

.style_3 {
  background-color: #148dc8;
}

.style_2 h2 {
  border-bottom-color: #148dc8;
  color: #148dc8;
}

.style_4 h2,
.fiche #domaines_formation,
.fiche #soustitre,
.actualite h2 {
  color: #666666;
}

.fiche #resume,
.annuaireksup__coordonnees img,
#auteurs,
#referenceisdn {
  color: #148dc8;
}


#partage {
  background-color: #148dc8;
}


.type_1, dl.type_1,
#demande_mot_passe dt {
  color: #666666;
}

#encadres > [class^="encadre"] {
  border-bottom-color: #148dc8;
}


#encadres > [class^="encadre"] h2 {
  border-bottom-color: #148dc8;
  color: #148dc8;
}


#encadres > .encadre_recherche {
  background-color: #148dc8;
}


#encadres > .encadre_recherche input[type="submit"],
.slidorion .accordion > .link-header {
  color: #148dc8;
}


.telecharger strong {
  color: #666666;
}

.accueil .carrousel_deco {
  background-color: #148dc8;
}


.accueil .carrousel_contenu img,
.accueil.portail.avec_carrousel #recherche_simple_portail {
  background-color: #666666;
}


.accueil .carrousel_texte,
.accueil .ligne_1 .liens a:hover span {
  background-color: #148dc8;
  background-color: rgba(20,141,200,0.5);
  
}


.accueil .onglets .ui-widget-content a,
.accueil .formation #onglets .ui-widget-content a,
.formation .accueil #onglets .ui-widget-content a {
  color: #148dc8;
}

.accueil .onglets > ul.ui-tabs-nav,
.accueil .formation #onglets > ul.ui-tabs-nav,
.formation .accueil #onglets > ul.ui-tabs-nav {
  background-color: #148dc8;
}

/* ========== */

@media screen and (min-width: 35em) {
  .accueil .carrousel_deco .toolbox {
    background-color: #148dc8;
  }

  .accueil .ligne_1 .objets a,
  .accueil .ligne_1 #liste_resultats a {
    color: #148dc8;
  }
  
  .accueil .ligne_1 .objets a:hover,
  .accueil .ligne_1 #liste_resultats a:hover {
    color: #666666;
  }

}

/* ========== */

.defaultstructureksup .separateur_deco > p strong {
  color: #148dc8;
}


#commenter a,
#afficher_masquer_commentaires a {
  background-color: #148dc8;
}


li.parite_0,
li.parite_1 {
  border-left-color: #148dc8;
}


.style1_media_titre {
  color: #148dc8;
}

/* ========== */

@media screen and (max-width: 35em) {

  #recherche_simple input[type="text"],
  #menu_principal > li > em + ul {
    border-color: #148dc8;
  }

  #recherche_simple input[type="text"]:focus,
  #recherche_simple input[type="text"]:active {
    border-color: #666666;
  }

  #recherche_simple .icon-search,
  .icon-home:before,
  button[data-unfold-trigger] {
    color: #148dc8;
  }


  #menu_principal > li > a:hover,
  #menu_principal > li > em > a,
  #menu_principal > li > em > a:hover {
    background-color: #148dc8;
  }


}

#pied_page_rubriques h3 {
  color: #148dc8;
}

/* ========== */


@media screen and (max-width: 55em) {

  #pied_page_rubriques h3:before {
    border-left-color: #148dc8;
  }
  
  #pied_page_rubriques h3.jq-unfold:before {
    border-top-color: #148dc8;
  }

}

@media screen and (min-width: 55em) {

  #pied_page_rubriques h3 {
    color: #666666;
  }

}

/* ======================================================= */
/* ======================================================= */

#bandeau_visuel {
	
		background-image : url(/medias/photo/img_1400080201741.jpg);
	
}



@media screen and (min-width: 55em) {.ligne_1 > .colonne_1 {
				width : 80%;
			}.ligne_1 > .colonne_3 {
				width : 20%;
			}
	}

  