   .jssora07l, .jssora07r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 50px;
            height: 50px;
            cursor: pointer;
            background: url('../img/a07.png') no-repeat;
            overflow: hidden;
        }
        .jssora07l { background-position: -5px -35px; }
        .jssora07r { background-position: -65px -35px; }
        .jssora07l:hover { background-position: -125px -35px; }
        .jssora07r:hover { background-position: -185px -35px; }
        .jssora07l.jssora07ldn { background-position: -245px -35px; }
        .jssora07r.jssora07rdn { background-position: -305px -35px; }
/* jssor slider thumbnail navigator skin 04 css *//*.jssort04 .p            (normal).jssort04 .p:hover      (normal mouseover).jssort04 .pav          (active).jssort04 .pav:hover    (active mouseover).jssort04 .pdn          (mousedown)*/.jssort04 .p {    position: absolute;    top: 0;    left: 0;    width: 62px;    height: 32px;}.jssort04 .t {    position: absolute;    top: 0;    left: 0;    width: 100%;    height: 100%;    border: none;}.jssort04 .w, .jssort04 .pav:hover .w {    position: absolute;    width: 60px;    height: 30px;    border: #0099FF 1px solid;    box-sizing: content-box;}.jssort04 .pdn .w, .jssort04 .pav .w {    border-style: dashed;}.jssort04 .c {    position: absolute;    top: 0;    left: 0;    width: 62px;    height: 32px;    background-color: #000;    filter: alpha(opacity=45);    opacity: .45;    transition: opacity .6s;    -moz-transition: opacity .6s;    -webkit-transition: opacity .6s;    -o-transition: opacity .6s;}.jssort04 .p:hover .c, .jssort04 .pav .c {    filter: alpha(opacity=0);    opacity: 0;}.jssort04 .p:hover .c {    transition: none;    -moz-transition: none;    -webkit-transition: none;    -o-transition: none;}* html .jssort04 .w {    width /**/: 62px;    height /**/: 32px;}
div.centeredText {
    text-align: center;
}
div.centeredText  h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}
form.contact-form {
    margin: 10px;
    max-width: 60%;
}
div.sliderDiv img {
    width: 100%;
    height: auto;
}
div.error-page {
    margin-top: 10px;
}
div.error-page img {
    display: block;
    margin: 0 auto;
}

div.sitemap-box-menu {
    display: inline-block;
    float: left;
    max-width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    background: #f5f5f5;
    padding: 1em;
    margin: 5px;
}

div.sitemap-box-menu > h2 {
  color: #FCFEFE;
  font: 500 1.71429em/1.2 arvoregular, Rockwell, rokkittregular, Tahoma, Verdana, Segoe, sans-serif;
  padding: 0.1em;
  padding-right: 0.2em;
  padding-left: 0.2em;
  margin-bottom: 0.2em;
  background-color: #148dc8;
  text-align: center;
}

div.sitemap-box-menu > div > ul li {
    list-style-type: none;
    list-style: none;
  }

  div.sitemap-box-menu > div > ul {
    padding: 0;
    margin: 0;
    padding-left: 0px;
  }

div.sitemap-box-menu > div > ul li:before {
list-style-type: none;
list-style: none;
  background: url(img/puce.svg) no-repeat 0 50% #148cbc;
  content: "";
  display: inline-block;
  height: 10px;
  margin: 0 0.6em 0 0;
  width: 10px;
}

button.button.btn {
    margin: 5px;
    padding: 5px;
}

.left {
  float: left;
}
ul.nostyle {
 list-style: none;
}

ul.nostyle  li a:active, ul.nostyle  li a:hover, ul.nostyle  li a:visited, ul.nostyle  li a, ul.nostyle li a:link{
 text-decoration: none;
 display: block;
 border: none;
}
div.imgInDetail {
  max-height: 6em;
  height: 6em;
}
p.infoImgDetail {
  float: right;
    display: inline-block;
 
}

p.infoImgDetail img{
max-height: 4em;
width: auto;
}

div.infoItemDetail {
  float: left;
  display: inline-block;
  position: relative;
  max-width: 50em;
}

span.blocsItemList {
  display: table;
  margin: 0 auto;
}
span.blocsItemList ul {
  margin: 0 auto;
}
span.blocsItemList ul li{
  display: inline-block;
  list-style-type:  none;
  list-style:  none;
  background: none;
  padding: 5px;
  vertical-align: top;
}

span.blocsItemList ul li{
  height: auto;
  width: 9em;
}

span.blocsItemList ul:not([class]):not([id]) li:before {
  background: none;
}
.cc-cookies {
  width: 100%;
}

div.jssorSlideDiv {
  position:relative;margin:0 auto;top:0px;left:0px;width:980px;height:300px;overflow:hidden;visibility:hidden;
}

.jssora07l {
  top:0px;left:8px; width:50px;height:50px;
}

.jssora07r {
  top:0px;right:8px;width:50px;height:50px;
}
div.divSlidesJssor {
  cursor: default; position: relative; top: 0px; left: 0px; width: 980px; height: 300px; overflow: hidden;
}
div.loadingJssor {
  position: absolute; top: 0px; left: 0px;
}
div.filterJssor {
  filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;
}
div.loadingImgJssor {
  position:absolute;display:block;background:url('../img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;
}
div.smallWidth { 
  width:130px;
}
div.hiddenDiv {
  display: none;
}
.righted {
  float: right;
}
div.newSlideJssor {
  background-color: rgba(0, 0, 0, 0.6);; position: absolute; bottom: 0px; left: 0px; font-size: 12px; text-align: left; width: 100%; padding: 5px;
}
span.typeDisplayTitre {
  display: block; line-height: 1em; text-transform: uppercase; font-size: 24px; color: #FFFFFF;
}
span.typeDisplaySousTitre {
  display: block; line-height: 1em; font-size: 12px; color: #FFFFFF;
}